.places {
    margin: 0 auto;
    padding: 0 148px 92px 148px;
    display: flex;
    flex-direction: column;
    max-width: 984px;
    gap: 80px;
}

@media screen and (max-width: 1279px) {
    .places {
        padding: 0 48px 92px 48px;
    }
}

@media screen and (max-width: 1023px) {
    .places {
        gap: 73px;
        padding: 0 24px 90px 24px;
    }
}

@media screen and (max-width: 767px) {
    .places {
        gap: 50px;
        padding: 0 12px 66px 12px;
    }
}

@media screen and (max-width: 567px) {
    .places {
        padding: 0 0 66px 0;
    }
}