.lead__title {
    margin: 0 auto 0 auto;
    padding: 56px 0 32px 0;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 104%;
    text-align: center;
    color: #FFFFFF;
    max-width: 720px;
    min-width: 288px;
}

@media screen and (max-width: 736px) {
    .lead__title {
        font-size: 60px;
        line-height: 110%;
    }
}

@media screen and (max-width: 568px) {
    .lead__title {
        font-size: 50px;
    }
}

@media screen and (max-width: 425px) {
    .lead__title {
        padding: 48px 0 16px 0;
        font-size: 40px;
    }
}