.cover {
    margin: auto auto;
    box-sizing: content-box;
    display: flex;
    width: calc(100% - 48px*2);
    background-image: url('../../images/cover/dmitrii-vaccinium-22833-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;
    position: relative;
    justify-content: center;
    align-items: center;
}

.cover::after {
    content: '';
    width: 0;
    height: 0;
    padding-top: calc(740 / 1184 * 100%);
}

@media screen and (max-width: 1024px) {
    .cover {
    width: 100%;
    }
}

/* @media screen and (max-width: 768px) {
    .cover {
        padding: 0 0 88px 0;
    }
}

@media screen and (max-width: 425px) {
    .cover {
        padding: 0 0 64px 0;
    }
} */